/*.main-header {
	outline: 5px solid #F75258;
}

.main-navigation {
	outline: 1px solid #D3F752;
}

.site-navigation {
	outline: 1px solid #54F718;
}

.site-navigation li {
	outline: 1px solid #F70529;
}

.welcoming-sign-image {
	outline: 1px solid #2A0FF7;
}

.mask {
	outline: 1px solid #73F700;
}

.features-description li {
	outline: 1px solid #F70529;
}

.features-item {
	outline: 1px solid #F75258;
}



body {
	outline: 5px solid #D3F752;
}

.main-header,
.container,
.main-footer {
	outline: 5px solid #000000;
}


.main-navigation {
	outline: 1px solid #D3F752;
}

.welcoming-sign-image {
	outline: 1px solid #2A0FF7;
}

.welcoming-sign-text {
	outline: 1px solid #F75258;
}

.mask {
	outline: 1px solid #73F700;
}

.for-search {
	outline: 5px solid #F75258;
}

.site-navigation li {
	outline: 1px solid #F70529;
}





.footer-follow,
.footer-social,
.footer-copyright {
	outline: 1px solid #F70529;
}



.hotels-header,
.container,
.main-footer {
	outline: 1px solid #000000;
}

.visually-hidden {
	outline: 1px solid #F75258;
}

.choice-box {
	outline: 2px solid red;	
}






.hotels-header,
.container,
.main-footer {
	outline: 1px solid #000000;
}

.features-item {
	outline: 1px solid #F75258;
}

.features-list {
	outline: 5px solid #F75258;
}

.features-description li,
.features-list li {
	outline: 1px solid black;
}



.choice-form {
	outline: 1px solid #ffffff;	
}


.finded,
.sorting,
.sorting-list,
.arrows {
	outline: 1px solid #F70529;
}

.search-form-date,
.search-form-count {
	outline: 3px solid orange;
}

.date-box {
	outline: 3px solid brown;
}

.search-form-date input {
	outline: 1px solid blue;
}

.search-form-date label {
	outline: 1px solid green;	
}

.modal-search {
	outline: 3px solid black;
}

.search-form {
	outline: 3px solid black;
}

.search-form-date label,
.search-form-count label {
	outline: 1px solid green;	
}

.date-box,
.count-box {
	outline: 2px dashed brown;
}

.search-form-date,
.search-form-count {
	outline: 3px solid orange;
}

.calendar,
.count-button-minus,
.count-button-plus {
	outline: 1px solid red;
}

.date-box input,
.count-box input {
	outline: 1px solid blue;
}


.for-search-title {
	outline: 1px solid blue;
}

.for-search-text {
	outline: 1px solid red;
}


.for-search,
.features {
		outline: 3px solid orange;
}

.count-box input {
	outline: 1px solid red;
}



.mask {
	outline: 1px solid red;	
}

.welcoming-sign-text {
	outline: 3px solid orange;
}

.sign-text-box {
	outline: 1px solid blue;
}


.map {
		outline: 1px solid blue;
}

.map img {
	outline: 1px solid red;	
}
.main-footer {
	outline: 2px dashed brown;
}

.footer-container {
	outline: 3px solid orange;	
}

.footer-follow,
.footer-social,
.footer-copyright {
	outline: 1px solid red;	
}

.footer-copyright a,
.footer-copyright span {
	outline: 1px solid blue;
}

.footer-copyright svg {
	outline: 1px solid orange;
}


.choice-form {
outline: 1px solid #ffffff;	
}

.choice {
outline: 3px solid #ffffff;		
}

.sort {
	outline: 3px solid orange;
}

.finded,
.sorting,
.sorting-list,
.arrows {
outline: 1px solid orange;	
}

.sort-box {
	outline: 1px solid blue;
}


.housing-article {
	outline: 1px solid blue;
}

.housing {
	outline: 3px solid orange;
}

.features-box,
.features-item {
	outline: 1px solid red;
}

.features-item-text,
.features-item-number,
.features-item-title {
	outline: 1px solid black;
}

.welcoming-title {
	outline: 2px solid black;
}

.welcoming-text {
	outline: 1px solid red;
}


.welcoming-sign-text {
	outline: 1px solid blue;
}

.price-controls label {
	outline: 1px solid white;
}


.housing-article,
.raiting-box,
.housing-article img,
.info-box,
.housing-title,
.housing-buttons,
.housing-article-text,
.housing-article-text span {
		outline: 1px solid #F70529;	
}
*/