body {
	font-size: 14px;
	line-height: 26px;
	font-family: "PT Sans", sans-serif;

	text-transform: uppercase;

	background-color: #f2f2f2;
}

.shadow {
	position: relative;

	width: 1200px;
	/*max-width: 1200px;
	min-width: 768px;*/
	margin: 0 auto;

	box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.site-navigation,
.features-list,
.features-description,
.choice-form-list,
.sorting-list,
.arrows,
.footer-social-list {
	list-style: none;
}

.main-header,
.hotels-header,
.container,
.main-footer,
.modal-search {
	background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
	position: relative;
	
	height: 780px;
	padding: 0;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	background: url(../img/background-photo.jpg) no-repeat;
}

.site-navigation {
	height: 56px;
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #ffffff;
}

.site-navigation li {
	width: 20%;

	text-align: center;
}

.site-navigation li:nth-child(2) {
	margin-right: auto;
}

.site-navigation a {
	color: #000000;
	font-weight: 600;
	text-decoration:none;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

.site-navigation-current {
	color: #766357;
	font-weight: bold;
	text-decoration:none;
}

.main-header-logo {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
}





.index-footer {
	position: absolute;
	bottom: 0;

	width: 1200px;
	
	opacity: 0.9;
}

.footer-container {
	height: 120px;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-follow,
.footer-social,
.footer-copyright {
	width: 33%;

	display: flex;
	justify-content: center;
}

.footer-follow {
	font-size: 21px;
	font-weight: bold;
}

.footer-social-list {
	width: 150px;
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.social-button {
	width: 46px;
	height: 48px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: #81b3d2;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active svg {
	opacity: 0.3;
}

.footer-copyright {
	display: flex;
	align-items: center;
}

.footer-copyright a {
	display: flex;
	align-items: center;
	margin-left: 8px;	
}

.footer-copyright a:hover path {
	fill: #81b3d2;
}

.footer-copyright a:active path {
	fill: #bdbbbc;
}








/* index.html */

.welcoming-sign-image {
	margin-top: 76px;
	margin-bottom: auto;
	text-align: center;
}

.mask {
	position: absolute;
	bottom: 216px;
	z-index: 1;

	width: 100%;
	/*min-width: 768px;*/
	height: 57px;

	background-image: url(../img/mask.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.welcoming-sign-text {
	height: 216px;
	margin: 0;
	
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #ffffff;
}

.welcoming-title {
	padding: 0;
	margin: 0;
	margin-top: 60px;
	margin-bottom: 27px;

	font-size: 21px;
	text-align: center;
}

.welcoming-text {
	padding: 0;
	margin: 0;

	color: #333333;
	text-align: center;
}





.features-list,
.features-description {
	padding: 0;
	margin: 0;
}

.features-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	background-color: #eeeeee;
}

.features-list li {
	text-align: center;
}

.features-item,
.features-box {
	width: 33.33%;
	height: 256px;
	display: flex;
	flex-direction: column;

	align-items: center;
}

.features-item-blue {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.features-item-title,
.features-description-title,
.features-item-number,
.features-item-text,
.features-description-text {
	padding: 0;
	margin: 0;

	font-size: 21px;
	line-height: 21px;
}

.features-item-number,
.features-item-text,
.features-description-text {
	font-size: 14px;
}

.features-item-title {
	margin-top: 47px;
	margin-bottom: 24px;
}

.features-item-number {
	margin-bottom: 21px;
}

.image-box {
	height: 256px;

	overflow: hidden;
}

.features-item-blue {
	color: #ffffff;
	background-color: #81b3d2;
}

.features-item-blue:nth-child(2) {
	flex-direction: row-reverse;
}


.features-item-text,
.features-description-text {
	width: 290px;
}

.features-item-image {
	transform: scaleY(1.55);
	transition: all 0.5s ease-out;
}

.features-item-image:hover {
	transform: scaleY(1);
}

.features-description {
	width: 100%;

	display: flex;
	justify-content: space-around;
	color: #333333;
	background-color: #ffffff;
}

.features-description li {
	width: 33.33%;
	height: 330px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.features-icon-1 {
	width: 75px;
	height: 72px;

	background: url(../img/icon-1.svg) no-repeat 50% 50%;
}

.features-icon-2 {
	width: 74px;
	height: 70px;

	background: url(../img/icon-2.svg) no-repeat 50% 50%;
}

.features-icon-3 {
	width: 64px;
	height: 76px;

	background: url(../img/icon-3.svg) no-repeat 50% 50%;
}

/*.features-icon {
	margin-top: 60px;
	margin-bottom: 26px;
}
*/
.features-description-title {
	margin-top: 29px;
	margin-bottom: 24px;
}

.features-description-text {
	margin-bottom: 82px;
}







.for-search {
	position: relative;

	height: 291px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.for-search-title {
	margin: 0;
	margin-top: 50px;
	padding: 0;

	font-size: 30px;
	line-height: 36px;
	text-align: center;
}

.for-search-text {
	margin: 0;
	margin-top: 22px;
	padding: 0;

	font-size: 14px;
	line-height: 24px;
	color: #333333;
	text-align: center;
}

.for-search-button {
	width: 568px;
	height: 86px;
	margin-top: auto;

	font-family: "PT Sans", sans-serif;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #766357;

	border: none;
	cursor: pointer;
}

.for-search-button:hover {
	background-color: #604e43;
}

.for-search-button:active .for-active {
	opacity: 0.3;
}

.for-search-button:active {
	background-color: #503e33;
}



/* форма поиска гостиницы */

.modal-search {
	position: absolute;
	top: 291px;

	width: 568px;
	height: 395px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: bold;
}

.search-form {
	width: 458px;
	height: 285px;

	display: flex;
	flex-direction: column;
}

.search-form input {
	font:inherit;
	text-transform: inherit;
}

.date-box {
	position: relative;

	width: 346px;
}

.date-box input {
	width: 329px;
	padding-left: 13px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.count-box {
	width: 114px;

	display: flex;
	justify-content: space-between;
}

.count-box input {
	width: 34px;
	padding-top: 4px;
	padding-bottom: 4px;

	text-align: center;

	border-color: black;
}

.calendar {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;

	width: 38px;
	height: 38px;

	background-color: transparent;

	border: none;
	outline: none;
	cursor: pointer;
}

.calendar svg {
	fill: #cacaca;
}

.calendar:hover svg {
	fill: #000000;
}

.calendar:active svg {
	fill: #81b3d2;
}

.symbol {
	font-weight: bold;
	font-size: 20px;
}

.count-button {
	width: 38px;
	height: 38px;
	border: none;
	outline: none;
	color: #cacaca;
	background-color: #f2f2f2;
	cursor: pointer;
}

.count-button:hover {
	color: #000000;
	background-color: #ebebeb;
}

.count-button:active {
	color: #81b3d2;
}

.date-box input,
.count-box input {
	border: 2px solid #f2f2f2;
	background-color: #f2f2f2;
}

.date-box input:hover,
.count-box input:hover {
	border-color: #ebebeb;
	background-color: #ebebeb;
}

.date-box input:focus,
.count-box input:focus {
	border-color: #e5e5e5;
	background-color: #ffffff;
	outline: none;
}

.search-form-date,
.search-form-count {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.search-form-date {
	margin-bottom: 30px;
}

.search-button {
	width: 458px;
	height: 58px;
	margin-top: auto;

	font-family: "PT Sans", sans-serif;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;

	background-color: #81b3d2;

	border: none;
	cursor: pointer;
}

.search-button:hover {
	background-color: #669ec0;
}

.search-button:active {
	background-color: #5496bd;
}

.search-button:active .for-active {
	opacity: 0.3;
}





.map {
	display: flex;
}








/*hotels.html*/

.hotels-header {
	position: relative;

	height: 56px;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.choices {
	color: #ffffff;

	background-color: #618bb3;
	background: url(../img/filter-background.jpg) no-repeat; 
}

.choice {
	height: 217px;
	margin: 0 72px;

	display: flex;
	align-items: center;
}

.choice-form {
	margin: 0;
	padding: 0;

	border: none;
}

.choice-form:first-child {
	margin-right: 115px;
}

.choice-form:last-child {
	margin-left: auto;
}

.choice-form-list {
	padding: 0;
	margin: 0;
}

.choice-form-title {
	font-size: 16px;
	font-weight: bold;
}
/* по стилизации значков чекбоксов нам вроде должны рассказать позже */
.choice-form-checkbox,
.choice-form-checkbox:hover {
	color: white;
}

.choice-form-checkbox:disabled {
	color: #6a6a6a;
}




/* шкала выбора стоимости */

.filter-range-title {
	margin-bottom: 9px;

	font-weight: bold;
	font-size: 16px;
	line-height: 21px
}

.price-controls {
	position: relative;
	
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background-color: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	height: 32px;

	display: inline-block;

	font-size: 14px;
	line-height: 21px
	vertical-align: middle;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;

	background: none;
	border: none;
	outline: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background-color: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background-color: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.button {
	color: #ffffff;
	text-align: center;
}

.choice-button {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;

	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px; 
	outline: none;
	cursor: pointer;
}

.choice-button:hover {
	color: #000000;
	background-color: #ffffff;
}





.sort {
	height: 86px;
	padding-left: 72px;
	padding-right: 72px;

	display: flex;
	align-items: baseline;
}

.sorting,
.sorting-list,
.arrows {
	padding: 0;
	margin: 0;
	display: flex;
}

.finded {
	margin-right: 49px;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.finded,
.sorting,
.arrows {
	margin-top: auto;
	margin-bottom: 31px;
}

.sorting {
	font-size: 12px;
	line-height: 18px;
}

.sorting-list {
	margin-left: 40px;
}

.sorting-list li:not(:last-child) {
   margin-right: 34px;
}

.sorting-list a {
	color: #000000;
/* подчёркивается круглой точкой, по макету должна быть квадратная точка, как исправить - пока не знаю */
	text-decoration-style: dotted;
	text-decoration-color: #81b3d2; 

	opacity: 0.3;
}

.sorting-list a:hover {
	color: #81b3d2;
	opacity: 1;
}

.sorting-list a:active {
	color: #000000;
	opacity: 1;
	text-decoration: none; 
}

.sorting-list-current {
	color: #81b3d2;
}

.arrows {
	margin-left: auto;
}

.arrows li:last-child {
	margin-left: 12px;	
}

.arrows a path {
	fill: #cacaca;
}

.arrows a:hover path {
	fill: #000000;
}

.arrows a:active path {
	fill: #81b3d2;
}

.arrows-current path {
	fill: #81b3d2;
}





.housing-title,
.housing-buttons,
.housing-article-text,
.housing-raiting {
	margin: 0;
	padding: 0;
}

.housing-article {
	height: 150px;
	padding-left: 72px;
	padding-right: 72px;

	display: flex;
	align-items: center;

	border-top: 1px solid #e5e5e5;
}

.housing-article:last-child {
	border-bottom: 1px solid #e5e5e5;	
}

.info-box,
.raiting-box {
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info-box {
	margin-left: 30px;
}

.raiting-box {
	margin-left: auto;

	align-items: flex-end;
}

.housing-title {

}

.housing-title a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.housing-title a:hover {
	color: #81b3d2;
}

.housing-title a:active {
	color: #000000;
	opacity: 0.3;
}

.housing-article-text {
	display: flex;

	color: #333333;
}

.housing-article-text span:first-child {
	width: 110px;
	margin-right: 6px;
}

.housing-buttons {
	display: flex;
}

.housing-buttons a {
	text-decoration: none;
	font-weight: bold;
}

.button-detail {
	width: 110px;
	height: 27px;
	margin-right: 6px;

	display: block;

	background-color: #81b3d2;
}

.button-detail:hover {
	background-color: #669ec0;	
}

.button-detail:active {
	background-color: #5496bd;	
}

.button-reserve {
	width: 142px;
	height: 27px;

	display: block;

	background-color: #766357;
}

.button-reserve:hover {
	background-color: #604e43;	
}

.button-reserve:active {
	background-color: #503e33;	
}

.button:active .for-active {
	opacity: 0.3;
}

.housing-raiting {
	width: 110px;
	height: 27px;

	text-align: center;

	color: #666666;
	background-color: #f2f2f2;
}